

// <weight>: Use a value from 100 to 900

.exo-2-md_font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar {
	background-color: red;
}

.navbar span{
	color: #ffbb00; 
}

.bannerPpal {
	background-color: #a2cf62;
}

.landingSeccion-1 {
	color: #777777;
	text-align: center; 
}

.landingSeccion-2, .landingSeccion-3  {
	color: #777777;
}

.landingSeccion-1 span, .landingSeccion-2 span, .landingSeccion-3 span,
.faqSeccion-1 span{
	color: #ffbb00; 
}

.footerSection {
	background-color: #666666;
	font-weight: 100;
	font-size: 10px;
}

.footerSection p{
	font-weight: 700;
	font-style: bold;
}

.footerSection span{
	font-weight: 700;
	font-style: bold;
	color: black; 
}

.creditos{
	font-size: 7px;
}

.rolComunidad {
	min-height: 500px;
}

.rolComunidad img{
	min-height: 200px;

}

.faqSeccion-1 {
	color: #777777;
	text-align: left; 
}

#prueba {
	color: red;
}