<!DOCTYPE html>
<html>
<head>
	<title>Iniciando en Rails</title>
</head>
<body>
	<h1>Yo soy el indice</h1>
	<a href="https://rubyonrails.org/">Y este es un enlace a Ruby on Rails</a>
	<!--  comments -->
	<a href="http://localhost:3000/pages/about">Ir a About ruta completa</a>
	<a href="<%= pages_about_path %>">Ir al about con el prefijo de routes</a>
	<a href="<%= root_path %>">Ir al root por default con el prefijo de routes</a>
</body>
</html>